# Data
/data/
data/predictions/

# Models (keep only calibrated)
models/*
!models/calibrated_xgb.pkl

# MLflow
mlruns/
mlflow.db

# Outputs
*.csv
reports/*.png

# Notebooks
notebooks/

# System
__pycache__/
*.pyc
venv/
.venv/

# Misc
image.png

.vscode/